@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Rubik:wght@400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.backgroundColor');
    border-radius: theme('borderRadius.lg');
    box-shadow: theme('boxShadow.xl');
  }
  .badge {
    background-color: theme('colors.badgeBackground');
    border-radius: theme('borderRadius.full');
    box-shadow: theme('boxShadow.sm');
    padding: theme('padding.2');
  }
}

:root {
  --bg-color: radial-gradient(
    circle,
    rgba(232, 229, 250, 1) 0%,
    rgb(201, 221, 248) 48%,
    rgba(232, 229, 250, 1) 100%
  );
  --primary-color: #262534;
  --other-color: #5e90ce;
  --secondary-color: rgb(5, 255, 180);

  --primary-font: 'Rubik', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: var(--primary-font);
  color: var(--primary-color);
  scroll-behavior: smooth;
}
.resume-container:hover > .circle {
  width: 135%;
}

.secondary-font {
  font-family: var(--secondary-font);
}

.secondary-color {
  color: var(--secondary-color);
}
